@inherits UmbracoViewPage<Clean.Core.Models.ViewModels.PageHeaderViewModel>

<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="@(Model.ArticleDate.HasValue ? "post-heading" : "site-heading")">
                
                    @if (Model.IsArticle)
                    {
                        if (Model.HasSubtitle)
                        {
                            <h2 class="subheading">@Model.Subtitle</h2>
                        }
                        <span class="meta">
                            Posted
                            @if (Model.HasAuthor)
                            {
                                @Umbraco.GetDictionaryValue("Article.By")

                                @:&nbsp;@Model.AuthorName
                            }
                            @Umbraco.GetDictionaryValue("Article.On")@Html.Raw("&nbsp;")@Model.ArticleDate.Value.ToString("MMMM dd, yyyy")
                        </span>
                    }
                    else
                    {
                        if (Model.HasSubtitle)
                        {
                            <span class="subheading">@(Model.Subtitle)</span>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</header>