@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Content>
@using Clean.Core.Models.ViewModels
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels

@{
    Layout = "master.cshtml";

}

@await Html.PartialAsync("~/Views/Partials/pageHeader.cshtml", new PageHeaderViewModel(Model.Name, Model.Title,
Model.Subtitle, Model.MainImage))
<div class="container-fluid content">
    <div class="row sidebar">
        <div class="col-4 col-md-3 col-lg-2 col-xxxl-1 border-end">
            <nav class="nav-sidebar">
                @{
                    var site = Model.AncestorOrSelf(2);
                    var parent = site.DescendantsOfType("content");                  
                }

                <h1 class="h6 mt-3"><a href="@(site.Url())">@(site.Name())</a></h1>

                <ul class="list">
                    @foreach (var child in site.Children)
                    {
                        <li class="list-item list-holder">
                            <a 
                                class="@(child.IsAncestorOrSelf(Model) ? "active" : null)" 
                                href="@child.Url()">@(child.Name)
                            </a>
                                <ul class="list">
                                    @foreach (var subChild in child.Children)
                                    {
                                        <li class="list-item">
                                            <a 
                                                class="@(subChild.IsAncestorOrSelf(Model) ? "active" : null)" 
                                                href="@subChild.Url()">@(subChild.Name)
                                            </a>
                                        </li>
                                    }
                                </ul>
                        </li>
                    }
                </ul>           
            </nav>
        </div>
        <div class="col-8 col-md-9 col-lg-10 col-xxxl-11">
            <main>
                @Html.GetGridHtml(Model, "mainContent", "custom")
            </main>
        </div>
    </div>
</div>